<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="BootstrapperConfiguration" type="Emit.ExtensibilityProvider.Configuration.BootstrapperConfiguration, Emit.ExtensibilityProvider"/>
  </configSections>

  <BootstrapperConfiguration>
    <source useBaseDirectory = "true"/>
    <bootstrapperTasks>
      <bootstrapperTask name="BootStartedTask"
                        type="Emit.ExtensibilityDemo.Bootstrap.Tasks.BeforeResolveBootstrapTask, Emit.ExtensibilityDemo"
                        executeType="Initalize"
                        executeMode="BeforeBootstrap"/>
      <bootstrapperTask name="BootFinishedTask"
                        type="Emit.ExtensibilityDemo.Bootstrap.Tasks.AfterResolveBootstrapTask, Emit.ExtensibilityDemo"
                        executeType="Always"
                        executeMode="AfterBootstrap"/>
    </bootstrapperTasks>
  </BootstrapperConfiguration>
</configuration>